div [class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"]{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 85vh;
    margin-left: 5em;
}