h1 {
    color: #DDD;
}

.myLandmarksContainer > div[class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"]{
    width: 80%;
    min-width: 20%;
    height: 100%;
}

.leftPane > *, .leftPane {
    color: #DDD;
    font-size: 1.2em;
    margin-top: 3em;
    margin-left: 3em;
}

#images {
    font-size: 0.7em;
}

input {
    font-size: 1.2em;
}

button {
    font-size: 1em;
}